<%- include("~header.ejs") %>

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>You are only a few steps away</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody class="table-cart">
								
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td class="subTotal">
										<span class="sign">$</span>
										<span class="dataValue">
										500</span></td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td class="shipping">
										<span class="sign">$</span><span class="dataValue">0</span></td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td class="finalVal">
										<span class="sign">$</span>
										<span class="dataValue">0</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a onclick="checkCartAndUser()" class="boxed-btn black">Proceed to Checkout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
	<script>
		let tableBody = document.querySelector(".table-cart");
		let cartTable = document.querySelector(".cart-table");
		let row = document.createElement("tr");
		
		let cartInfo = JSON.parse(localStorage.getItem("cart"));
		window.onload = addTotal();
		cartInfo.forEach((item, index)=>{
			let row = document.createElement("tr");
			row.classList.add("table-body-row");
			row.setAttribute("data-row-id",index+1);

			
			let rmData = document.createElement("td");
			rmData.classList.add("product-remove");
			rmData.innerHTML=`<a onclick="removeFromCart('${item.product.item}')"><i class="far fa-window-close"></i></a>`;
			

			let imgData = document.createElement("td");
			imgData.classList.add("product-image");
			imgData.innerHTML=`<img src="/IMG/${item.product.prod_img}" alt="this image is of a product"/>`;

			let nameData = document.createElement("td");
			nameData.classList.add("product-name");
			nameData.innerText=item.product.item;

			let priceData = document.createElement("td");
			priceData.classList.add("product-price");
			priceData.innerText=`$ ${item.product.price}`;

			let qtyData = document.createElement("td");
			qtyData.classList.add("product-quantity");
			qtyData.innerHTML=`<input type="number" value="${item.quantity}" oninput="calculateQty(this, ${item.product.price})"/>`;

			let totData = document.createElement("td");
			totData.classList.add("product-total");
			totData.innerText=`$ ${item.quantity * item.product.price}`;

			row.append(rmData,imgData,nameData,priceData, qtyData, totData);

			tableBody.appendChild(row);

		})
		function calculateQty(quantity, price){
			let productRow = quantity.parentElement.parentElement;
			if(quantity.value < 1){
				if(!confirm("Are you sure you want to remove this item from the cart")){
					quantity.value = 1;
				}
				removeFromCart(productRow.querySelector(".product-name").innerText.trim());
				
				cartInfo = JSON.parse(localStorage.getItem("cart"));
				
				tableBody.querySelectorAll("tr").forEach((row)=>{
					if(row.getAttribute("data-row-id") == productRow.getAttribute("data-row-id")){
						cartTable.deleteRow(row.getAttribute("data-row-id"))
					}
				})
				
			
			}
			// Increase quantity
			cartInfo.forEach((item)=>{
				if(item.product.item == productRow.querySelector(".product-name").innerText.trim()){
					item.quantity = parseInt(quantity.value);
				}
				
			})
			localStorage.setItem("cart",JSON.stringify(cartInfo))
			productRow.querySelector(".product-total").innerText = `$ ${quantity.value * price}`;
			calculateCartCount(cartInfo)
			addTotal();

		}
		function removeFromCart(name){
			let cart = JSON.parse(localStorage.getItem("cart"))


			cart = cart.filter((item)=> !(item.product.item == name));
			localStorage.setItem("cart",JSON.stringify(cart))

		}
		function addTotal(){
			let result = 0;
				let cartCheck = JSON.parse(localStorage.getItem("cart"));
				cartCheck.forEach((item)=>{
					result += item.product.price * item.quantity;
				})
			
			
			document.querySelector(".shipping .dataValue ").innerText = 0;
	
			document.querySelector(".subTotal .dataValue").innerText = result

			document.querySelector(".finalVal .dataValue").innerText = result + parseInt(document.querySelector(".shipping .dataValue ").innerText);
			
		} 
		function checkCartAndUser(){
			if(JSON.parse(localStorage.getItem("cart")).length == 0){
				if(confirm("Cart is currently empty, did you mean to add items to the cart?")){
					window.location.href="/products"
				}
				return false
			}
			window.location.href="/checkout";
		}
	</script>

<%- include("~footer.ejs") %>
