:root{
    --primary: #E72714;
    --secondary: #67AC3D;
    --tertiary: #FC8C00;
    --dark: #413B48;
    --primary-fade : #fff2f0;

}
/* section.grid-center{
    display: grid;
    place-items: center;
}
.form-area{
    margin: 7rem auto 0;
    display: flex;
    width: 80vw;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.08) ;

}
.advertisement{
    background-color: cadetblue;
}
.form-area form{
    display:flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    gap: 10px;
}
.form-area legend{
    font-size: 1.6rem;
    font-weight: 600;

}
.form-area label{
    display:flex;
    flex-direction: column;
}
.form-area label > *{
    flex-grow: 1;
}
 */
 div.hero-bg{
    background-image: url("/static/IMG/mainprod-img.jpg");
}


.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    transition: background-color 300ms ease;

}
.btn-primary:hover{
    background-color:var(--dark) ;

}
.btn-link{
    color: var(--primary);
}
.btn-link:hover{
    color: var(--dark);

}
.product-image img{
    width: 230px;
    height: 230px;
    object-fit: contain;
    border-radius: 50%; 
}

/* Buttons and links*/
a.bordered-btn{
    border-color:var(--primary);
}
a.cart-btn, a.boxed-btn, a.bordered-btn:hover{
    background-color: var(--primary);
}
a.cart-btn:hover{
    background-color:var(--dark);
    color: var(--primary);
}
a:hover,
a.boxed-btn:hover,
.top-header-area .header-icons a:hover,
nav.main-menu li:hover > a,
.footer-box.subscribe form button
{
    color:var(--primary);
}

nav.main-menu ul li.current-list-item > a{
    color:var(--primary);
}
.search-bar-tablecell button[type=submit],.footer-box.subscribe form button:hover {
    background-color: var(--primary)
}
.search-bar-tablecell button[type=submit]:hover{
    color:var(--dark);
    background-color: white;
}

/* Texts */
.hero-text p.subtitle,.breadcrumb-text p{
    color: var(--primary);
}
.orange-text,.shop-banner .sale-percent{
    color: var(--primary);
}
h2.widget-title:after{
    background-color:var(--primary);
}
.stretched-link{
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.cart-btn{
    position: relative;
    z-index: 3;
}
td.product-image img{
    height: 50px;
}
.order-table{
    width: 100%;
}
.order-table tr.table-head-row th{
    font-weight: 600;
}
.order-table td{
    border: 1px solid #999;
}
.order-table form{
    display: flex;
    padding: 0 5px;
    gap: 5px;
}
.order-table select{
    border: none;
    border-bottom:2px solid #999;
    flex-grow: 1;
}
.order-table select:focus-visible{
    outline:none;
    border-bottom-color: var(--secondary);
}
.order-table form button{
    border: 1px solid var(--secondary);
    background-color: white;
    color: var(--secondary);
    font-weight: 500;
    transition: 300ms ease-in background-color;
    border-radius: 5px;
}
.order-table form button:hover{
    background-color: var(--secondary);
    color: var(--primary-fade);
    box-shadow: 0px 0px 7px 2px rgba(255, 0, 0,0.07);

}
.main-menu-wrap{
    display:flex;
    align-items:center;
}
.site-logo:after{
    clear:both;
}

/* UTILITIES */
.uppercase{
    text-transform: uppercase;
}
.main-menu .user{
    font-weight: bold;
    color:var(--primary);
    display:flex;
    align-items: center;
    gap: 10px;
}
.icon{
    font-size: 35px;
}
.cart-badge{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    height: 15px;
    width: 15px;
    position:relative;
    top: -8px;
    right: 4px;
    border-radius: 50%;
    background-color: var(--primary);
    color: white;
}